---
interface Props {
    id: string;
    details: string;
    type: string;
    percentaje: string;
}

const { id, type, details, percentaje } = Astro.props;
---

<div class="shadow-md rounded-xl p-5 m-4">
    <p
        class="text-orange-500 text-normal font-bold px-3 py-1 bg-orange-300 rounded-xl inline"
    >
        {type}
    </p>
    <p class="text-slate-500 text-sm mt-2">{details}</p>
    <p class="text-right text-slate-500 text-sm mt-2">{percentaje}%</p>
    <div class="rounded-full bg-gray-200 w-full overflow-hidden">
        <div class="bg-slate-800 h-2" style=`width: ${percentaje}%`></div>
    </div>
</div>
